

.passed {
  color: green;
}

.failed {
  color: red;
}

#main {
  width: 800px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.pixel {
  border: solid 1px grey;
  float: left;
  width: 9px;
  height: 9px;
}

.row {
  clear: left;
  overflow: hidden;
}

.pixel.on {
  background-color: black;
}